<!-- include connection here -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="img/5.png"> 
        <title>WorkSpace | Sanyojit</title>
        <!-- Bootstrap Core CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <!-- Custom CSS -->
        <link href="style.css" rel="stylesheet">
        <!-- jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="new.js"></script>
        <!-- Bootstrap Core JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>

    <body style="padding-top: 50px;">
        <!-- Header -->
        <div class="navbar navbar-default  navbar-fixed-top"> 
          <div class="container">
            <div class="navbar-header">
               <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
               </button>
              <a class="navbar-brand green" href="index.html">SANYO<font color="#5bcc41">JIT</font></a>
            </div>
        <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
        <!--<?php
          if (!isset($_SESSION['email'])) {
          //if they havent logged in 
           ?>
            <li><a href="sign_up.html"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="login.html"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            <li><a href="contact_us.html"><span class="glyphicon glyphicon-earphone"></span> Contact Us</a></li>
             <?php
            }else {
              //if they have logged in
           ?>-->
           <li><a href = "workspace.html"><span class = "glyphicon glyphicon-list-alt"></span> WorkSpace </a></li>
           <li><a href = "setting.html"><span class = "glyphicon glyphicon-user"></span> Settings</a></li>
           <li><a href = "#"><span class = "glyphicon glyphicon-log-out"></span> Logout</a></li>
          
             <!--<?php
             }
             ?>-->
           </ul>
           </div>
           </div>
           </div>
        <!--Header end-->
        <div class="container ">
            <div class="jumbotron col-xs-3 col-xs-offset-2" style="margin-top: 80px; background-color:#d6f5d6">
                <h3>Dept 1</h3>
                <a href = "add_item.html"><span class = "glyphicon glyphicon-plus-sign" style="color: #5bcc41"></span><b><font color="#5bcc41"> Add Items.</font></b></a>
                </div>
                
            <div class="jumbotron col-xs-3 col-xs-offset-2" style="margin-top: 80px; background-color:#d6f5d6">
                <h3>Dept 1</h3>
                <a href = "view.html"><span class = "glyphicon glyphicon-th-list"style="color: #5bcc41"></span><b><font color="#5bcc41"> ViewMode.</font></b></a>
                </div>
                
            </div> 
        <a style="position: fixed; right:15px; bottom:42px; font-size:3em;" href = "#"><span class = "glyphicon glyphicon-plus-sign" style="color: #5bcc41"></span></a>
       

        <!--Footer-->
        <footer>
            <div class="container">
           <center>
            <p>Copyright &copy; Sanyojit. All Rights Reserved | Contact Us: +91 9000000000 | Developed By Team Codemic <span class="glyphicon glyphicon-globe"></span> </p>
           </center>
          </div>
        </footer>
        <!--Footer end-->

    </body> 
</html>