body,
html {
    width: 100%;
    height: 100%;
}

body{
    padding-top:100px;
    background-color: #eeffed;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Arial","sans-serif",Lato;
    font-weight: 500;
}
#content{
    min-height: 500px;
}
.green{
    color:#5bcc41;
}
.jumbotron{
    background-color: white;
}
.navbar-brand{
    font-size:37px;
}
.navbar{
    height: 60px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: grey;
    background-color: white;
    
}
.navbar .nav > li > a:hover, .navbar .nav > li > a:focus {
color:#5bcc41;
}
.navbar .nav > li{
    font-size: 17px;
}

#login-panel .panel-footer{
    font-weight:normal;
}
footer {
    padding: 10px 0;
    background-color: #101010;
    color:#9d9d9d;
    bottom: 0;
    width: 100%;
    position:absolute;
    left:0;
    text-align: center;
}

.red{
    color:red;
}

@media(max-width:768px) {
    #banner_content {
        padding-bottom: 15%;
    }
    .navbar-collapse {
    background:white;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: grey;
  }
    footer{
        text-align:left;
    }
}

/*------------*/
* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1150px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  animation-name: fade;
  animation-duration: 2s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
